body {
    background-color: white;
    font-family: sans-serif;
}

.container {
    width: 300px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    background-color: red;
    border-radius: 20px;
    border: solid;
    border-width: 10px;
    border-color: black;
    align-content: center;

}

#result-screen {
    background-color: white;
    padding: 20px;
    margin: 20px 20px;
    width: 160px;
    height: 20px;
    align-self: center;
    text-align: right;
    border-radius: 10px;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 270px;
}

.main-buttons {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.side-buttons {
    display: flex;
    flex-direction: column;
}

.btn {
    width: 50px;
    height: 50px;
    background-color: white;
    margin: 5px;
    border-radius: 10px;
}

.op-btn, .spec-btn {
    background-color: lightgray;
}

#btn-\. {
    background-color: white;
}

.bottom-buttons {
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 20px;
}
